<div class="container main">

  {{!-- Heading Area --}}
  <div class="jumbotron">
    <div class="container"></div>
    <h1>Burger Boss</h1>
  </div>

  {{!-- ADD BURGER FORM --}}
  <h2>Add a burger</h2>
  <div class="burger-list">
    <form class="create-form" method="POST" action="/burgers">
      <div class="form-group p-3">
        <label for="burger">Burger Name:</label>
        <input id="burger" type="text" name="burger"></input>
      </div>
      {{!-- <div class="form-row"> --}}
        <button class="add-burger btn btn-success text-white" type="submit">Add Burger</button>
      {{!-- </div> --}}
    </form>
  </div>

  {{!-- Devoured Burgers List --}}
  <div class="burger-list">
    <div class="container">
      <div class="row">
        <h2>Newly Constructed Burgers</h2>
        <div class="col-sm-6 p-3">
          <div class="panel panel-default float-left">
            {{#each burgers}}
              {{#unless devoured}}
                <div class="burger-text">
                  {{this.id}} - {{this.burger_name}}
                    <button class="devour-burger btn-warning" data-id="{{this.id}}" data-devour="{{this.devoured}}">Devour Burger!</button>
                </div>
              {{/unless}}
            {{/each}}
          </div>
        </div>
        <h2>Devoured Burgers!</h2>
        <div class="col-sm-6 p-4">
            <div class="panel panel-default float-right">
               {{#each burgers}}
                  {{#if devoured}}
                    <div id="hasBeenDevoured" class="burger-text">
                        {{this.id}} - {{this.burger_name}}
                    </div>
                  {{/if}}
                {{/each}}

        </div>
      </div>
    </div>



    {{!-- <div class="col">
      <div class="burger-col">
        <h2>Devoured Burgers!</h2>
        <ul class="burgers">
          {{#each burgers}}
          {{#if devoured}}
          {{> burger-block devoured=true}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div> --}}
  </div>
</div>